body, html{
    min-width: 400px;
}
.cabecalho .nav-link:hover{
    color: rgb(189, 190, 192) !important;
}
.cabecalho a.nav-link{
    color: aliceblue !important;
}
textarea:focus, input:focus, select:focus {
    box-shadow: none !important;
}
.fa{
    font-family: FontAwesome;
}

.adicionar-item:hover,.subtrair-item:hover{
    background-color: rgb(25,135,84);
    color: white !important;
    transition: 0.4s;
}

.trash:hover{
    color: red !important;
    transition: 0.4s;
}
footer a.text-dark:hover{
    color: gray !important;
}

.form-color{
    color: rgb(94, 93, 93);
}